[Desktop Entry]
Type=Application
Name=Documentation
Exec=browser file:///usr/share/doc/slitaz/index.html
Icon=slitaz-doc
Name[en_GB]=slitaz-doc.desktop
